button {
	font: inherit;
	margin: 0;
	overflow: visible;
	text-transform: none;
	font-size: 12px;
}
.w3-container {
	padding: 0.01em 16px
}
.w3-container:after,
.w3-container:before {
	content: "";
	display: table;
	clear: both
}
.w3-center {
	text-align: center!important
}
.w3-button {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.w3-button:hover {
	color: #000!important;
	background-color: #ccc!important
}
.w3-blue {
	color: #fff!important;
	background-color: #2196F3!important
}
.w3-orange {
	color: #000!important;
	background-color: #ff9800!important
}
.w3-hover-light-grey:hover {
	color: #000!important;
	background-color: #f1f1f1!important
}
.w3-border-blue-grey {
	border-color: #607d8b!important
}
.w3-round {
	border-radius: 4px
}
.w3-ripple {
	transition: opacity 0s
}
.w3-ripple:active {
	opacity: 0.5
}