.OPPdiv {
	padding: 0.01em 16px;
	text-align: center!important
}
.OPPdiv:after,
.OPPdiv:before {
	content: "";
	display: table;
	clear: both
}
.OPPbutton {
	font: inherit;
	margin: 0;
	text-transform: none;
	font-size: 12px;
	border: none;
	display: inline-block;
	padding: 8px 12px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	white-space: nowrap -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-color: #607d8b!important;
	border-radius: 4px;
	transition: opacity 0s;
	width: 20%
}
.OPPbutton:hover {
	color: #000!important;
	background-color: #f1f1f1!important
}
.OPPbutton:active {
	opacity: 0.5
}
.OPPbutton-blue {
	color: #fff!important;
	background-color: #2196F3!important
}
.OPPbutton-orange {
	color: #000!important;
	background-color: #ff9800!important
}
